# See https://docs.aspect.build/workflows/configuration
tasks:
  - checkout:
      update_strategy: rebase
  - gazelle:
  - buildifier:
  # FIXME: broken because it runs the old CLI
  # - lint:
  - format:
  - test:
      targets:
        - //...
        - -//speller/...
      bazel:
        flags:
          -  --config=rbe
          -  --test_tag_filters=-skip-on-aspect-workflows
      coverage:
        codecov_upload: true
  - delivery:
      branches:
        - main
        - 'release-.*'
      auto_deliver: true
      stamp_flags:
        - --config=release
      rules:
        - deliverable: 'kind("oci_push rule", //...)'
notifications:
  github: {}
