# See https://docs.aspect.build/aspect-workflows/additional-materials/reference-config
tasks:
  - gazelle:
  - buildifier:
  # FIXME: broken because it runs the old CLI
  # - lint:
  - format:
  - test:
      id: test_0
      targets:
        - //...
        - -//angular/...
        - -//speller/...
      bazel:
        flags:
          - --config=rbe
          - --test_tag_filters=-skip-on-aspect-workflows
  - test:
      id: test_1
      targets:
        - //angular/...
      bazel:
        flags:
          - --config=rbe
          - --test_tag_filters=-skip-on-aspect-workflows
  - delivery:
      auto_deliver: true
      stamp_flags:
        - --config=release
      rules:
        - deliverable: 'kind("oci_push rule", //...)'
          condition:
            branches:
              - '^main$'
              - '^release-.*$'
notifications:
  github: {}
