# Import Aspect recommended Bazel convenience settings for all projects
import %workspace%/.aspect/bazelrc/convenience.bazelrc

# Import Aspect recommended Bazel correctness settings for all projects
import %workspace%/.aspect/bazelrc/correctness.bazelrc

# Import Aspect recommended Bazel performance settings for all projects
import %workspace%/.aspect/bazelrc/performance.bazelrc

# Import Aspect recommended Bazel debug settings for all projects
import %workspace%/.aspect/bazelrc/debug.bazelrc

# Import Aspect recommended Bazel javascript settings for all projects
import %workspace%/.aspect/bazelrc/javascript.bazelrc

# Import Aspect recommended Bazel 6 settings for all projects
import %workspace%/.aspect/bazelrc/bazel6.bazelrc

### YOUR PROJECT SPECIFIC SETTINGS GO HERE ###

# Turn on the bzlmod feature in Bazel, before 6.0 final it's experimental
common --experimental_enable_bzlmod

# Load any settings & overrides specific to the current user from `.aspect/bazelrc/user.bazelrc`.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/.aspect/bazelrc/user.bazelrc
