configure:
  languages:
    javascript: true
    go: true
    protobuf: true
    python: true
  plugins:
    - .aspect/cli/rules_cc.star
plugins:
    - name: fix-visibility
      from: github.com/aspect-build/plugin-fix-visibility
      version: v0.1.0
lint:
  aspects:
    - //tools/lint:linters.bzl%buf
    - //tools/lint:linters.bzl%checkstyle
    - //tools/lint:linters.bzl%clang_tidy
    - //tools/lint:linters.bzl%eslint
    - //tools/lint:linters.bzl%shellcheck
    - //tools/lint:linters.bzl%ruff
    - //tools/lint:linters.bzl%pmd
