version: 2.1
workflows:
  aspect-workflows:
    jobs:
      - buildifier
      - format
      - gazelle
      - lint
      - test_0
      - test_1
      - delivery:
          filters:
            branches:
              only:
                - /^main$/
          requires:
            - test_0
            - test_1
    when:
      not:
        equal:
        - scheduled_pipeline
        - << pipeline.trigger_source >>
  aspect-workflows-warming:
    jobs:
      - warming
    when:
      and:
        - equal:
          - scheduled_pipeline
          - << pipeline.trigger_source >>
        - equal:
          - aspect-workflows-warming
          - << pipeline.schedule.name >>
jobs:
  buildifier:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts
      - run:
          name: Buildifier
          command: rosetta run buildifier
      - store_artifacts:
          path: /workflows/artifacts

  format:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts
      - run:
          name: Format
          command: rosetta run format
      - store_artifacts:
          path: /workflows/artifacts
  
  gazelle:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts
      - run:
          name: Gazelle
          command: rosetta run gazelle
      - store_artifacts:
          path: /workflows/artifacts
  
  lint:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts
      - run:
          name: Lint
          command: rosetta run lint
      - store_artifacts:
          path: /workflows/artifacts

  test_0:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts /workflows/testlogs
      - run:
          name: Test
          command: rosetta run test_0
      - store_test_results:
          path: /workflows/testlogs
      - store_artifacts:
          path: /workflows/testlogs
      - store_artifacts:
          path: /workflows/artifacts

  test_1:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts /workflows/testlogs
      - run:
          command: rosetta run test_1
          name: Test (1)
      - store_test_results:
          path: /workflows/testlogs
      - store_artifacts:
          path: /workflows/testlogs
      - store_artifacts:
          path: /workflows/artifacts

  delivery:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-default
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Prepare archive directories
          command: rm -rf /workflows/artifacts /workflows/testlogs
      - run:
          name: Delivery manifest
          command: rosetta run delivery_manifest
      - run:
          name: Delivery
          command: rosetta run delivery
      - store_artifacts:
          path: /workflows/artifacts

  warming:
    environment:
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_NUMBER: << pipeline.number >>
      ASPECT_WORKFLOWS_CIRCLE_PIPELINE_PROJECT_TYPE: << pipeline.project.type >>
      ASPECT_WORKFLOWS_CIRCLE_WORKFLOW_BASE_NAME: aspect-workflows
    machine: true
    resource_class: aspect-build/aspect-warming
    working_directory: /mnt/ephemeral/workdir
    steps:
      - run:
          name: Workflows environment
          command: /etc/aspect/workflows/bin/configure_workflows_env
      - checkout
      - run:
          name: Agent health check
          command: /etc/aspect/workflows/bin/agent_health_check
      - run:
          name: Create warming archive for root
          command: rosetta run warming
      - run:
          name: Archive warming tars
          command: /etc/aspect/workflows/bin/warming_archive
